.font-gradient{
    @apply inline-block text-transparent bg-clip-text bg-gradient-to-r from-primary to-secondary;
}  

.link{
    &:hover{
        @apply text-primary;

        .link-underline span{
            @apply bg-[length:100%_2px] bg-left-bottom;
        }
    }
    
    .link-underline span{
        @apply transition-colors;
        border-bottom-width: 0;
        background-image: linear-gradient(transparent, transparent), linear-gradient(theme('colors.primary'), theme('colors.primary'));
        background-size: 0 2px;
        background-position: 0 100%;
        background-repeat: no-repeat;
        transition: background-size .2s ease-in-out;
    }
}

.custom-scrollbar{
    @apply 
        scrollbar 
        scrollbar-thin 
        scrollbar-thumb-rounded 
        scrollbar-thumb-primary
        scrollbar-track-slate-200 
        scrollbar-track-rounded 
        dark:scrollbar-track-slate-700;
}

.inset-0{
    inset: 0;
}